@widthALL: 1207px;
@colorback: #1cc;

.header {
    height: 200px;
    background-color: @colorback;
    .margin
}
.margin {
     width: @widthALL;
    margin: 0 auto;
    
}
.main {
      background-color: @colorback - #333;
    .block {
    outline: 1px solid black;
    width: @widthALL / 3-60px;
    height: 400px;
    margin: 50px 30px;
    float: left;
 }
    .margin
}

.clr {
    clear: both;
}
.footer {
    height: 200px;
    background-color: @colorback - #777;
    .margin 
}

